beautifulsoup4
requests
pandas
openpyxl

# RAG & Embeddings
langchain
langchain-groq
sentence-transformers
faiss-cpu

# API
fastapi
uvicorn
pydantic
python-multipart
rank-bm25


# Utils
python-dotenv
lxml
aiohttp
